/* Header */
.card-header {
    display:flex;
    align-items: center;
    justify-content: space-between;
    width:80%;
    margin: 20px auto;
    padding-top:10px;
    padding-bottom: 10px;
}
.card-header-logo {
    width:250px;
}
.card-header-button {
    background-color: #67b3f3;
    color:#fff;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
}
.card-header-button:hover, .card-btn:hover {
    cursor: pointer;
    background-color: #0734a6;
    outline:0;
}
/*Card Section GENERAL */
.card-section {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    background: url("./img/background-desk.png");
    /*background-size: cover;*/
    border-radius: 6px;
    margin: 20px auto;
    width:90%;
    /*min-height: 80vh;*/
    height: auto;
    box-shadow: 3px 3px 5px rgba(0,0,0,.7);
}

/* Modal Form */
.card-section-modal{
    z-index: 1;
    position: absolute;
    top:10%;
    left:20%;
    width:60%;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    min-height: 500px;
    border-radius: 5px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.63);
    background-color: #e8e8e8;
}
.card-section-modal-form-doctors {
    padding-bottom: 20px;
    margin-left: 20px;
    border-bottom: 2px solid black;
}
.required:after {
    content:" *";
    color: red;
}
.card-section-card-hidden {
    display:flex;
    flex-direction: column;
}
.card-section-modal-form-list-doctors {
    padding: 5px;
    margin-left: 10px;
}
.card-section-modal-close {
align-self: flex-end;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}
.card-section-modal-close:hover {
   cursor: pointer;
    color:#005cbf;
}
.card-section-modal-form-options {
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px;
}
.card-section-modal-form-choice {
    display:flex;
    flex-direction: column;
}
.card-section-modal-form-input {
    margin-bottom: 5px;
    padding:8px;
}
.card-section-modal-form-input:focus{
    outline:0;
}
.card-btn{
    padding:7px;
    font-size: 14px;
    margin:10px;
    background-color:#67b3f3;
    color:#fff;
}
.card-btn:focus{
    outline: none;
}

/* CARD ITEM STYLE */
.card-section {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.card-list {
    background-color: rgba(0,0,0,.4);
    border-radius: 5px;
    width: 30%;
    padding-bottom: 20px;
    height: auto;
    margin: 20px;
}



.card-section-card {
    display: flex;
    flex-direction: column;
    overflow-wrap: normal;
    /*width: 25%;*/
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.62);
    padding: 20px;
    margin:20px;

}
.card-section-card-visible {
    display:flex;
    flex-direction: column;
}
.card-section-card-field {
    display: flex;
    justify-content:  flex-start;
}
.card-section-card-button {
    display: flex;
    justify-content:  flex-start;
    align-items: flex-start;
}
.card-section-card-close-button {
    align-self: flex-end;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
}

.card-section-card-field-desc {
    font-weight: bold;
    margin-right: 5px;
}
.card-section-card-field {
    margin-bottom: 5px;
}
.hide{
    display:none;
}
.card-section-card-close-button:hover {
    cursor: pointer;
    font-weight: bold;
    color: #005cbf;
}
.card-section-empty-text{
    position: absolute;
    font-size: 30px;
    color:#fff;
    display:flex;
    align-self: center;
}